</!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Note ton prof !</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div id="app" class="container">
        <div class="row">
            <div class="col-8">
                <h1>Note ton prof !</h1>
                <div class="card md-flex" v-for="professeur in professeurs">
                    <div class="card-body" :class="{'bg-light': professeur.id === professeurCourant?.id}">
                        <h5 class="card-title">{{ professeur.prenom + ' ' + professeur.nom }}</h5>
                        <p class="card-text">
                            {{ professeur.email }}<br>
                            <button class="btn btn-primary" :disabled="professeur.id === professeurCourant?.id" @click="getAvis(professeur)">Afficher les avis</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-4" v-if="professeurCourant">
                <h2>Avis concernant {{ professeurCourant.prenom + ' ' + professeurCourant.nom }}</h2>

                <ul class="text-danger">
                    <li v-for="erreur in erreurs">
                        {{ erreur }}
                    </li>
                </ul>

                <form class="mn-5"  v-on:submit.prevent="postAvis()">
                    <div class="form-group">
                        <label for="">Note</label>
                        <select class="form-control" v-model="nouvelAvis.note">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                        <div class="form-group">
                            <label for="">Commentaire</label>
                            <textarea class="form-control" v-model="nouvelAvis.commentaire" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="">Email étudiant</label>
                            <input type="email" class="form-control" v-model="nouvelAvis.emailEtudiant" required>
                        </div>
                        <div class="form-group mt-2 justify-content-center d-flex">
                            <input type="submit" class="btn btn-primary" value="Ajouter un avis"></input>
                        </div>
                    </div>
                </form>
                <div class="card" v-for="unAvis in avis">
                    <div class="card-body">
                        <h5 class="card-title">Note : {{ unAvis.note }}/5</h5>
                        <p class="card-text">
                            {{ unAvis.commentaire }} <br>
                            De : <a :href="'mailto:' + unAvis.emailEtudiant">{{ unAvis.emailEtudiant }}</a>
                        </p>
                        <button v-if="mesAvis.includes(unAvis.id)" class="btn btn-danger" @click="deleteAvis(unAvis)">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios"></script>
    <script>
    const app = Vue.createApp({
        data() {
            return {
                apiBase: 'http://127.0.0.1:8000/api',
                professeurs: [],
                avis: [],
                professeurCourant: null,
                nouvelAvis: null,
                erreurs: [],
                mesAvis: []
            }
        },
        methods: {
            getProfesseurs() {
                axios.get(this.apiBase + '/professeurs')
                    .then(response => {
                        this.professeurs = response.data
                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            createAvis() {
                return {
                    note: 0,
                    commentaire: '',
                    emailEtudiant: ''
                };
            },
            getAvis(professeur) {
                this.nouvelAvis = this.createAvis();
                this.erreurs = [];
                axios.get(this.apiBase + '/professeurs/'+ professeur.id +'/avis')
                    .then(response => {
                        this.avis = response.data;
                        this.professeurCourant = professeur;
                    })
                    .catch(error => {
                        console.log(error)
                    });
            },
            postAvis() {
                axios.post(this.apiBase + '/professeurs/'+ this.professeurCourant.id +'/avis', this.nouvelAvis)
                    .then(response => {
                        this.avis.push(response.data.avis);
                        this.mesAvis.push(response.data.avis.id);
                        this.nouvelAvis = this.createAvis();
                        this.erreurs = [];
                    })
                    .catch(error => {
                        this.erreurs = Object.values(error.response.data);
                    });
            },
            deleteAvis(avis) {
                if (this.mesAvis.includes(avis.id)) {
                    axios.delete(this.apiBase + '/avis/'+ avis.id)
                        .then(response => {
                            this.avis = this.avis.filter(avi => avi.id !== avis.id);
                            this.mesAvis.splice(this.mesAvis.indexOf(avis.id), 1);
                        })
                        .catch(error => {
                            this.erreurs = Object.values(error.response.data);
                        });
                } else {
                    this.erreurs = ['Vous n\'avez pas le droit de supprimer cet avis'];
                }
            }
        },
        mounted() {
            this.getProfesseurs();
        }
    }).mount('#app');
    </script>
</body>
</html>